##  Welcome to Python Crash Course Developed by DataScience4EveryONE

### Author: Syed Mukarram

## This notebook will just go through the basic topics for Python Required for Data Scientist

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods

## Data types in python

### Numbers

In [6]:
1 +1

2

In [7]:
2+4

6

In [8]:
3-2

1

In [9]:
6-3

3

In [10]:
6*3

18

In [35]:
9*8

72

In [13]:
2 ** 4

16

In [14]:
2 ** 10

1024

In [15]:
5 % 3

2

In [19]:
100 % 8

4

### Floats

In [21]:
2.3

2.3

In [22]:
7.1

7.1

### Variable Assignment

In [24]:
x=2
y=3

In [25]:
z=x+y

In [26]:
print(z)

5

### Strings

In [28]:
'single quotes'

'single quotes'

In [29]:
"double quotes"

'double quotes'

In [30]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [32]:
x = 'hello'

In [33]:
x

'hello'

In [34]:
print(x)

hello

In [36]:
num = 12
name = 'Sam'

In [37]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [38]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Lists

### List is a collection which is ordered and changeable. Allows duplicate members.

In [40]:
[1,2,3]

[1, 2, 3]

In [41]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [42]:
my_list = ['a','b','c']

In [43]:
my_list.append('d')

In [44]:
my_list

['a', 'b', 'c', 'd']

In [46]:
my_list[0]

'a'

In [47]:
my_list[0] = 'NEW'

In [48]:
my_list

['NEW', 'b', 'c', 'd']

In [57]:
nest = [1,2,3,[4,5,['target',7]],100]

In [60]:
nest[1]

2

In [65]:
nest[3][2]

['target', 7]

In [68]:
nest[3][2][0]

'target'

### Dictionaries

### Dictionary is a collection which is unordered and changeable. No duplicate members.

In [74]:
d = {'key1':'item1','key2':'item2'}

In [72]:
d

{'key1': 'item1', 'key2': 'item2'}

In [73]:
d['key1']

'item1'

In [75]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

In [76]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [80]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
   "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

## Booleans

In [81]:
True

True

In [82]:
False

False

In [84]:
class myclass():
  def __len__(self):
    return 1

myobj = myclass()
print(bool(myobj))

True

In [87]:
x=3
y=6
if x > y:
    print(x)
else:
    print(y)

6

### Tuples

### Tuple is a collection which is ordered and unchangeable. Allows duplicate members

In [91]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [92]:
print(type(thistuple))

<class 'tuple'>

In [94]:
t = (1,2,3)

In [95]:
t

(1, 2, 3)

In [96]:
t[1]

2

In [97]:
t[1] = 4

TypeError: 'tuple' object does not support item assignment

In [98]:
t =(1,1, 4,4,5,5)

In [99]:
t

(1, 1, 4, 4, 5, 5)

### Sets

### Set is a collection which is unordered and unindexed. No duplicate members.

In [100]:
x ={1,2,3}

In [101]:
x

{1, 2, 3}

In [102]:
y ={1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

In [106]:
y

{1, 2, 3}

In [105]:
y[1]

TypeError: 'set' object is not subscriptable

## Comparison Operators

In [107]:
1 > 2

False

In [108]:
1 < 2

True

In [109]:
1 >= 1

True

In [110]:
1 <= 4

True

In [111]:
1 == 1

True

In [112]:
'hi' == 'bye'

False

 ## Logic Operators

In [116]:
(1 > 2) and (2 < 3)

False

In [117]:
(1 > 2) or (2 < 3)

True

In [118]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [119]:
if 1 < 2:
    print('yep!')

yep!

In [120]:
if 1 > 2:
    print('yep!')

In [121]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [122]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [123]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

### A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [124]:
seq = [1,2,3,4,5]

In [125]:
for item in seq:
    print(item)

1
2
3
4
5

In [127]:
for item in seq:
    print('Yes')

Yes
Yes
Yes
Yes
Yes

In [128]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

In [131]:
for jelly in seq:
    print(jelly+jelly+jelly)

3
6
9
12
15

In [134]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "cherry":
    break
  print(x)

apple
banana

## while Loops

### With the while loop we can execute a set of statements as long as a condition is true.

In [135]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [148]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

## range()

In [150]:
range(5)

range(0, 5)

In [154]:
for i in range(5):
    print(i)

0
1
2
3
4

In [157]:
list(range(5))

[0, 1, 2, 3, 4]

## functions

### To call a function, use the function name followed by parenthesis:

In [161]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [163]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)
my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

## lambda expressions

### A lambda function is a small anonymous function.

### A lambda function can take any number of arguments, but can only have one expression.

In [164]:
x = lambda a : a + 10
print(x(5))

15

In [165]:
x = lambda a, b : a * b
print(x(5, 6))

30

## map and filter

In [166]:
my_pets = ['alfred', 'tabitha', 'william', 'arla']

uppered_pets = list(map(str.upper, my_pets))

print(uppered_pets)

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

In [167]:
circle_areas = [3.56773, 5.57668, 4.00914, 56.24241, 9.01344, 32.00013]

result = list(map(round, circle_areas, range(1,7)))

print(result)

[3.6, 5.58, 4.009, 56.2424, 9.01344, 32.00013]

In [168]:
scores = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65]

def is_A_student(score):
    return score > 75

over_75 = list(filter(is_A_student, scores))

print(over_75)

[90, 76, 88, 81]

## methods

In [169]:
st = 'hello my name is Sam'

In [170]:
st.lower()

'hello my name is sam'

In [171]:
st.upper()

'HELLO MY NAME IS SAM'

In [172]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [173]:
lst = [1,2,3]

In [174]:
lst.pop()

3

In [177]:
lst

[1, 2]

In [178]:
lst.pop()

2

In [179]:
lst

[1]

In [180]:
'x' in [1,2,3]

False

In [181]:
'x' in ['x','y','z']

True

# Thats it GREAT JOB GUYS Congratulations you have completed the Python crash course for Data Science